.rounded {
  border-radius: 12px;
}

.me {
  margin-right: 15px;
}

.my {
  margin-top: 15px;
  margin-bottom: 15px;
}

.h-center {
  text-align: center;
}

/* --------- Tabela "scroll" --------- */

.table-container {
  padding-bottom: 15px;
  overflow: hidden;
  overflow-x: auto !important;
}

@media only screen and (max-width: 415px) {
  .table-container * {
    font-size: 3vw;
  }
  
  .table-container h3 {
    font-size: 6vw;
  }
}


table.scroll {
  width: 100%;
  border-spacing: 0;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th { 
  height: 30px;
  line-height: 30px;
}

table.scroll tbody {
  height: 230px;
  overflow-y: auto;
}

tbody { border-top: 2px solid black; }

thead { padding-right: 12px; }

tbody td, thead th {
  width: 19%;
}
